<body>
    <nav>
    <ul>
        <li><a href="{{path("newarticle")}}">Ajouter un article</a></li>
        <li><a href="{{path("brouillons")}}">Voir mes brouillons</a></li>
        <li><a href="{{path("profil")}}">Voir profil</a></li>
    </ul>
</nav>
            <h2>Articles</h2>
        {#{% for ... in ...%}#}
     <div>
            <div>
  <div>
    <div>
        
        {#    <p>{{article.Titre}}</p>
            <p>{{article.Image}}</p>#}
        <p>1ere news</p>
            </div>
            </div>
            </div>
            <div>
           <a href="">Modifier un article</a>
             <a href="">Supprimer un article</a>
     
            </div>
             </div>
        
        {%endblock %}
             
</body>
