{% extends "AdminBundle:Default:admin.html.twig"%}
{%block style %}
    {#Ici je vais rajouter les css qui s'appliquent uniquement à la page brouillon   #}
{%endblock%}

{%block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{path("add")}}">Ajouter une article</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("articles")}}">Voir les articles</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("profil")}}">Voir profil</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("admin")}}">Retour page d'admin</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("accueil")}}">Retour sur le site</a></li>
    {%endblock%}

{% block articles %}

    <h1 class="titradmin">Mes brouillons</h1>
    <!--Ci dessous je récupère les articles-->
    {% for brouillon in listBrouillons%}
        {%if brouillon.etatpublication == "brouillon"%}

            <div class="container-fluid liste">

                <div class="thumbnail col-sm-8 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <h3>Titre</h3><p>{{brouillon.titre}}</p>
                    <h3>Image</h3><p>{{brouillon.image}}</p>
                    <h3>Article</h3><p>{{brouillon.article}}</p>
                    <h3>Auteur</h3><p>{{brouillon.auteur}}</p>
                    <h3>Date</h3><p>{{brouillon.date|date("m/d/Y")}}</p>
                    <h3>Catégorie</h3><p>{{brouillon.categorie}}</p>
                    <h3>Etat de la publication</h3><p>{{brouillon.etatpublication}}</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 btn">
                <a class="modif" href="{{path("modif",{"id":brouillon.id})}}">Modifier un brouillon</a>
                <a class="supp" href="{{path("supp",{"id":brouillon.id})}}">Supprimer un brouillon</a>
            </div>
        </div>
    {%endif%}
{% endfor %}




{% endblock %}

