{% extends "AdminBundle:Default:admin.html.twig"%}
     {%block style %}
{#Ici je vais rajouter les css qui s'appliquent uniquement à la page modifarticle   #}
        {%endblock%}

            {%block nav %}
            <li class="nav-item active">
                <a class="nav-link" href="{{path("add")}}">Ajouter une article</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{{path("brouillons")}}">Voir les brouillons</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{{path("admin")}}">Retour page admin</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{{path("accueil")}}">Retour sur le site</a></li>
            {%endblock%}
            
            {% block articles %}
    
    <h1 class="titradmin">Modifier article</h1>
    
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    
    {{form(form)}}
    
    
    
    
            {%endblock%}
    
