<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../script/verifprofil.js"></script>
<body>
    <div id="mdp" style="display: none">{{app.user.password}}</div>
    <nav>
<ul>
            <li><a href="{{path("add")}}">Ajouter une article</a></li>
            <li><a href="{{path("brouillons")}}">Voir les brouillons</a></li>
            <li><a href="{{path("admin")}}">Retour page admin</a></li>
    </ul>
</nav>
    <h2>Modif profil</h2>

    {{form(form)}}
    
    <input id="mdpactu" type="password" placeholder="Mot de passe actuel">
    <input id="mdpnew" type="password" placeholder="Nouveau mot de passe">
    <input id="mdpconf" type="password" placeholder="Confirmez votre mot de passe">
</body>