{% extends "AdminBundle:Default:admin.html.twig"%}

     {%block style %}
{#Ici je vais rajouter les css qui s'appliquent uniquement à la page newarticle   #}
        {%endblock%}

        {%block nav %}
        <li class="nav-item active">
            <a class="nav-link" href="{{path("articles")}}">Voir les articles</a></li>
        <li class="nav-item">
                                <a class="nav-link" href="{{path("brouillons")}}">Voir {%if app.user.roles[0] == "ROLE_ADMIN"%}les {%else%}mes {%endif%}brouillons</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{{path("profil")}}">Voir le profil</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{{path("modifprofil")}}">Modifier mon profil</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{{path("admin")}}">Retour page admin</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{{path("accueil")}}">Retour sur le site</a></li>
        {%endblock%}
        
    {% block articles %}
        <h1 class="titradmin">Ecrire un nouvel article</h1>
        
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{form(form)}}
    {%endblock%}
    
