{% extends "AdminBundle:Default:admin.html.twig"%}

{%block style %}
    {#Ici je vais rajouter les css qui s'appliquent uniquement à la page profil   #}
{%endblock%}

{%block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{path("add")}}">Ajouter une article</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("articles")}}">Voir articles</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("brouillons")}}">Voir les brouillons</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("modifprofil")}}">Modifier mon profil</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("admin")}}">Retour page admin</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{{path("accueil")}}">Retour sur le site</a></li>
    {%endblock%}

{% block articles %}
    <h1 class="titradmin">Mon profil</h1>
    <!--Ci dessous je récupère le profil-->
    {% for profil in monProfil%}
        <div class="container liste">
            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-6 col-md-offset-3">
                    <div class="thumbnail">
                        <h3 id="titrephotoprofil">Photo de profil :</h3><img src ="../{{profil.avatar}}"/>
                        <h3>Email :</h3><p>{{profil.username}}</p>
                        <h3>Nom :</h3><p>{{profil.nom}}</p>
                        <h3>Prénom :</h3><p>{{profil.prenom}}</p>
                        <h3>Pseudo :</h3><p>{{profil.pseudo}}</p>
                        


                    </div>
                </div>
            </div>
            <div>
                <a class="modifprofil" href="{{path("modifprofil")}}">Modifier mon profil</a>
            </div>
        </div>

    {% endfor %}

{%endblock%}