{% extends "BlogBundle:Default:accueil.html.twig" %}
{%block body %}

        <h2 class="titresections">Ordinateur</h2>
    <!--Ci dessous je récupère les articles telephone publiés-->
       {% for news in listNews%}

           {%if news.etatpublication == "publie"%}
           {%if news.categorie== "ordinateur"%}
                    <div>
                        <div>
                            <div class="container-fluid">
                                <div class="col-sm-8 col-sm-offset-2">
                                <div class="thumbnail">
                                    <p class="newtitre">{{news.titre}}</p>
                                    <p class="newimage">{{news.image}}</p>
                                    <p class="newarticle">{{news.article}}</p>
                                </div>
                                </div>
                            </div>
                            <div class="">
                                    <p class="newauteur">{{news.auteur}}</p>
                                    <p class="newdate">{{news.date|date("m/d/Y")}}</p>
                                    <p class="newcategorie">{{news.categorie}}</p>
                                    <p class="etatpublication">{{news.etatpublication}}</p>
                            </div>
                        </div>
                    </div>




                {%endif%}
                {%endif%}
    {% endfor %}
{%endblock%}
