{% extends "BlogBundle:Default:accueil.html.twig" %}	
{%block body %}
    
 <h2>Téléphone</h2>
 <img src=""/>
 <!--Ci dessous je récupère les articles telephone publiés-->
    {% for news in listNews%}
        
        {%if news.etatpublication == "publie"%}
        {%if news.categorie== "telephone"%}
        <div>
            <div>
                <div>
                    <div>
                        <p>{{news.titre}}</p>
                        <p>{{news.image}}</p>
                        <p>{{news.article}}</p>
                        <p>{{news.auteur}}</p>
                        <p>{{news.date|date("m/d/Y")}}</p>
                        <p>{{news.categorie}}</p>
                        <p>{{news.etatpublication}}</p>
                    </div>
                </div>
            </div>
            
        </div>
                {%endif%}
                {%endif%}
    {% endfor %}
{%endblock%}
